<nav class="navbar fixed-bottom navbar-light " style="background-color: #e3f2fd;">
  <div class="container-fluid">
  
    <div class="spinner-border spinner-border-sm" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow spinner-grow-sm" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
  </div>
</nav>

</div>